<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where's the Kaboom?</title>
		<meta name="description" content="Where's the Kaboom?">
		<meta name="author" content="Marvin the Martian">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/styles.css" type="text/css">
		<script src="static/angular.min.js" type="text/javascript"></script>
		<script src="static/controller.js" type="text/javascript"></script>
	</head>
	<body ng-app="kaboomApp">
		<div ng-controller="kaboom">
			<select ng-model="time" ng-options="t for t in availTimes">
			</select>
			<span ng-repeat="pin in pins">
				<a href="#" class="bomb" ng-hide="pin.status" ng-click="shoot(pin.no)">No {{pin.no}}</a>
				<span class="bomb inactive" ng-show="pin.status">No {{pin.no}}</span>
			</span>
		</div>
	</body>
</html>
